<%- include('../Header') %>


      <!--end::Sidebar-->
      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h1>View Blog</h1></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Simple Tables</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="d-flex">
                            <form class="my-4">
                                <input type="text"  name="blogSearch" value="<%= search %>" placeholder="Search Here..."/> <input type="submit" value="Search" class="btn btn-danger"/>
                            </form>
                            <a href="/blog/viewBlog" class="mt-4 ms-2"><button class="btn btn-primary" >Reset</button></a>
                        </div>
                    </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                            <th>Category</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>CreatedDate</th>
                            <th>UpdatedDate</th>
                            <th>Action</th>
                       </tr>
                      </thead>
                      <tbody>
                        <% viewAllBlogs.map((item,i)=>{ %>
                            <tr>
                                <td><%= item.categoryId.categoryName %></td>
                                <td><%= item.title %></td>
                                <td><%= item.description %></td>
                                <td><%= item.status %></td>
                                <td><%= new Date(item.createdAt).toLocaleDateString() %></td>
                                <td><%= new Date(item.updatedAt).toLocaleDateString() %></td>
                                <td>
                                    <a href="/blog/deleteBlog/<%= item.id %>"><button class="btn btn-primary">Delete</button></a>
                                    ||
                                    <a href="/blog/updateBlog/?updateId=<%= item.id %>"><button class="btn btn-primary">Update</button></a>
                                </td>
                            </tr>
                            <% }) %>
                        
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer clearfix">
                    <td>
                        <% for( var i=0;i<totalData ; i++) { %>
                            <a href="/blog/viewBlog?page=<%= i %>&blogSearch=<%= search %>"><button class="btn btn-primary"><%= i+1 %></button></a>
                        <% } %>
                    </td>
                    <ul class="pagination pagination-sm m-0 float-end">
                        <td>
                            <a href="/blog/viewBlog?page=<%= parseInt(page)-1 %>&blogSearch=<%= search %>" class="btn btn-primary <%= page < 1 ? 'disabled' : '' %>">Prev</a>
                            <a href="/blog/viewBlog?page=<%= parseInt(page) %>&blogSearch=<%= search %>"><button class="btn btn-primary mx-2"><%= parseInt(page)+1 %></button></a>
                            <a href="/blog/viewBlog?page=<%= parseInt(page)+1 %>&blogSearch=<%= search %>" class="btn btn-primary <%= totalData <= parseInt(page) + 1 ? 'disabled' : ''  %>">Next</a>
                        </td>
                    </ul>
                  </div>
                </div>
              <!-- /.col -->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->
      </main>
      <!--end::App Main-->
      <!--begin::Footer-->
      

<%- include('../Footer') %>